# Предобработка данных

### Pip install

In [1]:
%pip install langchain-community
%pip install pypdf
%pip install langchain-ollama
%pip install pyarrow

Requirement already satisfied: langchain-community in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (0.3.12)
Requirement already satisfied: PyYAML>=5.3 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-community) (6.0.2)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-community) (2.0.36)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-community) (3.10.10)
Requirement already satisfied: dataclasses-json<0.7,>=0.5.7 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-community) (0.6.7)
Requirement already satisfied: httpx-sse<0.5.0,>=0.4.0 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-community) (0.4.0)
Requirement already satisfied: langchain<0.4.0,>=0.3.12 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-community) (0.3.12)
Requirement already satisfied: langchain-core<0.4.0,>=0.3.25 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-community) (0.3.25)
Requirement already satisfied: langsmith<0.3,>=0.1.125 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-community) (0.2.3)
Requirement already satisfied: numpy<3,>=1.26.2 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-community) (1.26.4)
Requirement already satisfied: pydantic-settings<3.0.0,>=2.4.0 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-community) (2.7.0)
Requirement already satisfied: requests<3,>=2 in c:\users\zenfo\appdata\roaming\python\python312\site-packages (from langchain-community) (2.32.3)
Requirement already satisfied: tenacity!=8.4.0,<10,>=8.1.0 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-community) (9.0.0)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community) (2.4.3)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community) (24.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community) (6.1.0)
Requirement already satisfied: yarl<2.0,>=1.12.0 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community) (1.15.1)
Requirement already satisfied: marshmallow<4.0.0,>=3.18.0 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from dataclasses-json<0.7,>=0.5.7->langchain-community) (3.23.1)
Requirement already satisfied: typing-inspect<1,>=0.4.0 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from dataclasses-json<0.7,>=0.5.7->langchain-community) (0.9.0)
Requirement already satisfied: langchain-text-splitters<0.4.0,>=0.3.3 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain<0.4.0,>=0.3.12->langchain-community) (0.3.3)
Requirement already satisfied: pydantic<3.0.0,>=2.7.4 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain<0.4.0,>=0.3.12->langchain-community) (2.9.2)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-core<0.4.0,>=0.3.25->langchain-community) (1.33)
Requirement already satisfied: packaging<25,>=23.2 in c:\users\zenfo\appdata\roaming\python\python312\site-packages (from langchain-core<0.4.0,>=0.3.25->langchain-community) (24.1)
Requirement already satisfied: typing-extensions>=4.7 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-core<0.4.0,>=0.3.25->langchain-community) (4.12.2)
Requirement already satisfied: httpx<1,>=0.23.0 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langsmith<0.3,>=0.1.125->langchain-community) (0.27.2)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langsmith<0.3,>=0.1.125->langchain-community) (3.10.12)
Requirement already satisfied: requests-toolbelt<2.0.0,>=1.0.0 in c:\users\zenfo\appdata\roaming\python\python312\site-packages (from langsmith<0.3,>=0.1.125->langchain-community) (1.0.0)
Requirement already satisfied: python-dotenv>=0.21.0 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from pydantic-settings<3.0.0,>=2.4.0->langchain-community) (1.0.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\zenfo\appdata\roaming\python\python312\site-packages (from requests<3,>=2->langchain-community) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\zenfo\appdata\roaming\python\python312\site-packages (from requests<3,>=2->langchain-community) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\zenfo\appdata\roaming\python\python312\site-packages (from requests<3,>=2->langchain-community) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\zenfo\appdata\roaming\python\python312\site-packages (from requests<3,>=2->langchain-community) (2024.8.30)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from SQLAlchemy<3,>=1.4->langchain-community) (3.1.1)
Requirement already satisfied: anyio in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from httpx<1,>=0.23.0->langsmith<0.3,>=0.1.125->langchain-community) (4.6.0)
Requirement already satisfied: httpcore==1.* in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from httpx<1,>=0.23.0->langsmith<0.3,>=0.1.125->langchain-community) (1.0.5)
Requirement already satisfied: sniffio in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from httpx<1,>=0.23.0->langsmith<0.3,>=0.1.125->langchain-community) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from httpcore==1.*->httpx<1,>=0.23.0->langsmith<0.3,>=0.1.125->langchain-community) (0.14.0)
Requirement already satisfied: jsonpointer>=1.9 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from jsonpatch<2.0,>=1.33->langchain-core<0.4.0,>=0.3.25->langchain-community) (3.0.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from pydantic<3.0.0,>=2.7.4->langchain<0.4.0,>=0.3.12->langchain-community) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.4 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from pydantic<3.0.0,>=2.7.4->langchain<0.4.0,>=0.3.12->langchain-community) (2.23.4)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain-community) (1.0.0)
Requirement already satisfied: propcache>=0.2.0 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from yarl<2.0,>=1.12.0->aiohttp<4.0.0,>=3.8.3->langchain-community) (0.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: pypdf in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (5.1.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: langchain-ollama in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (0.2.1)
Requirement already satisfied: langchain-core<0.4.0,>=0.3.20 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-ollama) (0.3.25)
Requirement already satisfied: ollama<1,>=0.3.0 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-ollama) (0.4.4)
Requirement already satisfied: PyYAML>=5.3 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-core<0.4.0,>=0.3.20->langchain-ollama) (6.0.2)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-core<0.4.0,>=0.3.20->langchain-ollama) (1.33)
Requirement already satisfied: langsmith<0.3,>=0.1.125 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-core<0.4.0,>=0.3.20->langchain-ollama) (0.2.3)
Requirement already satisfied: packaging<25,>=23.2 in c:\users\zenfo\appdata\roaming\python\python312\site-packages (from langchain-core<0.4.0,>=0.3.20->langchain-ollama) (24.1)
Requirement already satisfied: pydantic<3.0.0,>=2.7.4 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-core<0.4.0,>=0.3.20->langchain-ollama) (2.9.2)
Requirement already satisfied: tenacity!=8.4.0,<10.0.0,>=8.1.0 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-core<0.4.0,>=0.3.20->langchain-ollama) (9.0.0)
Requirement already satisfied: typing-extensions>=4.7 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langchain-core<0.4.0,>=0.3.20->langchain-ollama) (4.12.2)
Requirement already satisfied: httpx<0.28.0,>=0.27.0 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from ollama<1,>=0.3.0->langchain-ollama) (0.27.2)
Requirement already satisfied: anyio in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from httpx<0.28.0,>=0.27.0->ollama<1,>=0.3.0->langchain-ollama) (4.6.0)
Requirement already satisfied: certifi in c:\users\zenfo\appdata\roaming\python\python312\site-packages (from httpx<0.28.0,>=0.27.0->ollama<1,>=0.3.0->langchain-ollama) (2024.8.30)
Requirement already satisfied: httpcore==1.* in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from httpx<0.28.0,>=0.27.0->ollama<1,>=0.3.0->langchain-ollama) (1.0.5)
Requirement already satisfied: idna in c:\users\zenfo\appdata\roaming\python\python312\site-packages (from httpx<0.28.0,>=0.27.0->ollama<1,>=0.3.0->langchain-ollama) (3.10)
Requirement already satisfied: sniffio in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from httpx<0.28.0,>=0.27.0->ollama<1,>=0.3.0->langchain-ollama) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from httpcore==1.*->httpx<0.28.0,>=0.27.0->ollama<1,>=0.3.0->langchain-ollama) (0.14.0)
Requirement already satisfied: jsonpointer>=1.9 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from jsonpatch<2.0,>=1.33->langchain-core<0.4.0,>=0.3.20->langchain-ollama) (3.0.0)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from langsmith<0.3,>=0.1.125->langchain-core<0.4.0,>=0.3.20->langchain-ollama) (3.10.12)
Requirement already satisfied: requests<3,>=2 in c:\users\zenfo\appdata\roaming\python\python312\site-packages (from langsmith<0.3,>=0.1.125->langchain-core<0.4.0,>=0.3.20->langchain-ollama) (2.32.3)
Requirement already satisfied: requests-toolbelt<2.0.0,>=1.0.0 in c:\users\zenfo\appdata\roaming\python\python312\site-packages (from langsmith<0.3,>=0.1.125->langchain-core<0.4.0,>=0.3.20->langchain-ollama) (1.0.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from pydantic<3.0.0,>=2.7.4->langchain-core<0.4.0,>=0.3.20->langchain-ollama) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.4 in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (from pydantic<3.0.0,>=2.7.4->langchain-core<0.4.0,>=0.3.20->langchain-ollama) (2.23.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\zenfo\appdata\roaming\python\python312\site-packages (from requests<3,>=2->langsmith<0.3,>=0.1.125->langchain-core<0.4.0,>=0.3.20->langchain-ollama) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\zenfo\appdata\roaming\python\python312\site-packages (from requests<3,>=2->langsmith<0.3,>=0.1.125->langchain-core<0.4.0,>=0.3.20->langchain-ollama) (2.2.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pyarrow in c:\users\zenfo\appdata\local\programs\python\python312\lib\site-packages (18.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

### Загрузка

In [2]:
from langchain_community.document_loaders import PyPDFLoader

loader_1 = PyPDFLoader("../data/standard_data/sql_primer.pdf")
loader_2 = PyPDFLoader("../data/standard_data/Tutorial_PostgreSQL.pdf")

### Соединение данных

In [3]:
docs = loader_1.load()
docs += loader_2.load()

print(len(docs))

512

In [4]:
docs

[Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 0}, page_content=''),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 1}, page_content='Компания Postgres Professional\nЕ. П. Моргунов\nPostgreSQL. Основы языка SQL\nУчебное пособие\nСанкт-Петербург\n«БХВ-Петербург»\n2018'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 2}, page_content='УДК 004.655\nББК 32.973.26-018.2\nМ79\nМоргунов, Е. П.\nМ79 PostgreSQL. Основы языка SQL: учеб. пособие / Е. П. Моргунов; под ред.\nЕ. В. Рогова, П. В. Лузанова. — СПб.: БХВ-Петербург, 2018. — 336 с.: ил.\nISBN 978-5-9775-4022-3\nУчебно-практическое пособие охватывает первую, базовую, часть учеб-\nного курса по языку SQL, созданного при участии российской компании\nPostgres Professional. Учебный материал излагается в расчете на использо-\nвание системы управления базами данных PostgreSQL. Рассмотрено созда-\nние рабочей среды, описаны языки определения данных и основные опе-\nрации выборки и изменения данных. Показаны примеры использования\nтранзакций, уделено внимание методам оптимизации запросов. Матери-\nал сопровождается многочисленными практическими примерами. Посо-\nбие может использоваться как для самостоятельного обучения, так и при\nпроведении занятий под руководством преподавателя.\nДля программистов и студентов\nУДК 004.655\nББК 32.973.26-018.2\nРецензент:Б. А. Новиков, д-р. физ.-мат. наук, профессор СПбГУ\nISBN 978-5-9775-4022-3\nISBN 978-5-6041193-2-7 © ООО «ППГ», 2018'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 3}, page_content='Оглавление\nПредисловие автора 5\nВведение 7\nГлава 1. Введение в базы данных и SQL 13\n1.1. Что такое базы данных и зачем они нужны . . . . . . . . . . . . . . . . . . 13\n1.2. Основные понятия реляционной модели . . . . . . . . . . . . . . . . . . . 15\n1.3. Что такое язык SQL . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 18\n1.4. Описание предметной области и учебной базы данных . . . . . . . . . . 19\nКонтрольные вопросы и задания . . . . . . . . . . . . . . . . . . . . . . . . . . . 23\nГлава 2. Создание рабочей среды 25\n2.1. Установка СУБД . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 25\n2.2. Программа psql — интерактивный терминал PostgreSQL . . . . . . . . . . 26\n2.3. Развертывание учебной базы данных . . . . . . . . . . . . . . . . . . . . . 27\nКонтрольные вопросы и задания . . . . . . . . . . . . . . . . . . . . . . . . . . . 29\nГлава 3. Основные операции с таблицами 31\nКонтрольные вопросы и задания . . . . . . . . . . . . . . . . . . . . . . . . . . . 48\nГлава 4. Типы данных СУБД PostgreSQL 51\n4.1. Числовые типы . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 51\n4.2. Символьные (строковые) типы . . . . . . . . . . . . . . . . . . . . . . . . . 54\n4.3. Типы «дата/время» . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 56\n4.4. Логический тип . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 63\n4.5. Массивы . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 64\n4.6. Типы JSON . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 68\nКонтрольные вопросы и задания . . . . . . . . . . . . . . . . . . . . . . . . . . . 73\nГлава 5. Основы языка определения данных 95\n5.1. Значения по умолчанию и ограничения целостности . . . . . . . . . . . . 95\n5.2. Создание и удаление таблиц . . . . . . . . . . . . . . . . . . . . . . . . . . 105\n5.3. Модификация таблиц . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 117\n5.4. Представления . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 123\n5.5. Схемы базы данных . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 131\nКонтрольные вопросы и задания . . . . . . . . . . . . . . . . . . . . . . . . . . . 133\nГлава 6. Запросы 145\n6.1. Дополнительные возможности команды SELECT . . . . . . . . . . . . . . 145\n6.2. Соединения . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 152\n3'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 4}, page_content='Оглавление\n6.3. Агрегирование и группировка . . . . . . . . . . . . . . . . . . . . . . . . . 168\n6.4. Подзапросы . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 176\nКонтрольные вопросы и задания . . . . . . . . . . . . . . . . . . . . . . . . . . . 192\nГлава 7. Изменение данных 211\n7.1. Вставка строк в таблицы . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 211\n7.2. Обновление строк в таблицах . . . . . . . . . . . . . . . . . . . . . . . . . . 219\n7.3. Удаление строк из таблиц . . . . . . . . . . . . . . . . . . . . . . . . . . . . 224\nКонтрольные вопросы и задания . . . . . . . . . . . . . . . . . . . . . . . . . . . 226\nГлава 8. Индексы 241\n8.1. Общая информация . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 241\n8.2. Индексы по нескольким столбцам . . . . . . . . . . . . . . . . . . . . . . . 246\n8.3. Уникальные индексы . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 247\n8.4. Индексы на основе выражений . . . . . . . . . . . . . . . . . . . . . . . . . 248\n8.5. Частичные индексы . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 248\nКонтрольные вопросы и задания . . . . . . . . . . . . . . . . . . . . . . . . . . . 250\nГлава 9. Транзакции 255\n9.1. Общая информация . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 255\n9.2. Уровень изоляции Read Uncommitted . . . . . . . . . . . . . . . . . . . . . 259\n9.3. Уровень изоляции Read Committed . . . . . . . . . . . . . . . . . . . . . . . 261\n9.4. Уровень изоляции Repeatable Read . . . . . . . . . . . . . . . . . . . . . . . 265\n9.5. Уровень изоляции Serializable . . . . . . . . . . . . . . . . . . . . . . . . . . 269\n9.6. Пример использования транзакций . . . . . . . . . . . . . . . . . . . . . . 275\n9.7. Блокировки . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 278\nКонтрольные вопросы и задания . . . . . . . . . . . . . . . . . . . . . . . . . . . 280\nГлава 10. Повышение производительности 293\n10.1. Основные понятия . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 293\n10.2. Методы просмотра таблиц . . . . . . . . . . . . . . . . . . . . . . . . . . . . 296\n10.3. Методы формирования соединений наборов строк . . . . . . . . . . . . . 302\n10.4. Управление планировщиком . . . . . . . . . . . . . . . . . . . . . . . . . . 305\n10.5. Оптимизация запросов . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 311\nКонтрольные вопросы и задания . . . . . . . . . . . . . . . . . . . . . . . . . . . 317\nРекомендуемые источники 328\nПредметный указатель 329\n4'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Предисловие автора\nС системой управления базами данных PostgreSQL мне довелось познакомиться\nв 1998 году, это была еще версия 6.2. Важную роль в моей встрече с PostgreSQL сыг-\nрал Вадим Михеев, который в те годы был одним из ключевых разработчиков этой\nСУБД. После перехода в 2000 году на преподавательскую работу в вуз мне потребова-\nлась свободно распространяемая СУБД для использования в учебном процессе. На эту\nроль идеально подходила СУБД PostgreSQL.\nКнига, которую вы держите в руках, появилась по инициативе и при поддержке\nкомпании Postgres Professional — российского поставщика СУБД PostgreSQL. Летом\n2016 года я встретился с директором компании Олегом Бартуновым. Он высказал\nидею о том, что для распространения СУБД PostgreSQL необходим учебник по язы-\nку SQL. PostgreSQL является самой продвинутой свободно распространяемой СУБД с\nочень хорошей поддержкой стандарта SQL. Тем не менее существуют и специфиче-\nские черты, присущие именно PostgreSQL, поэтому такой учебник должен был отра-\nжать эту специфику. Поскольку я уже много лет использовал PostgreSQL в преподава-\nнии в вузе, то Олег Бартунов предложил мне заняться написанием такого учебника.\nЭто предложение показалось мне очень интересным.\nМы обсудили план будущего учебника с Павлом Лузановым и Егором Роговым, кото-\nрые занимаются образовательными программами компании. Они согласились вы-\nступить в трудной и ответственной роли редакторов книги. Координировали работу\nнад учебником и помогали на разных стадиях этого трудного процесса Олег Бартунов\nи заместитель директора компании Иван Панченко. Оригинальную обложку книги\nсделал Андрей Климковский, а Егор Рогов подготовил предметный указатель, благо-\nдаря которому книгой будет удобно пользоваться. Вообще, без поддержки компании\nPostgres Professional учебник в таком виде не смог бы состояться.\nДанный учебник рекомендуется использовать в комплексе с учебником по основам\nтехнологий баз данных, который написан профессором Санкт-Петербургского госу-\nдарственного университета Борисом Асеновичем Новиковым также при поддержке\nкомпании Postgres Professional. Важным является то, что в обоих учебниках для ил-\nлюстрации приемов применения языка SQL используется одна и та же учебная база\nданных «Авиаперевозки», разработанная Павлом Лузановым и Егором Роговым. Она\nсодержит данные, по своим свойствам близкие к реальным. Это позволяет в каче-\nстве упражнений моделировать ситуации, которые могли бы иметь место в реальной\nработе специалиста по базам данных.\n5'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 6}, page_content='Предисловие автора\nЗнанием только языка SQL квалификация специалиста по базам данных не исчер-\nпывается, поэтому на сайте компании Postgres Professional представлен целый ряд\n«фирменных» учебных курсов по PostgreSQL. Ссылка на них приведена в конце кни-\nги в разделе «Рекомендуемые источники».\nВ планах автора и компании Postgres Professional — выпуск второй части учебни-\nка. Она будет посвящена более сложным вопросам использования языка SQL в сре-\nде СУБД PostgreSQL. Предполагается рассмотреть такие темы, как хранимые функ-\nции и процедуры, язык PL/pgSQL, триггеры, полнотекстовый поиск, расширяемость\nPostgreSQL.\nЕ. П. Моргунов'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='Введение\nВ настоящее время термин «база данных» известен многим людям, даже далеким от\nпрофессиональной разработки компьютерных программ. Базы данных стали очень\nшироко распространенной технологией, что потребовало, в свою очередь, больше-\nго числа специалистов, способных проектировать их и обслуживать. В ходе эволю-\nции теории и практики баз данных стандартом де-факто стала реляционная модель\nданных, а в рамках этой модели сформировался и специализированный язык про-\nграммирования, позволяющий выполнять все необходимые операции с данными —\nStructured Query Language (SQL). Таким образом, важным компонентом квалифика-\nции специалиста в области баз данных является владение языком SQL.\nВ настоящем учебном пособии излагаются основы языка SQL — это базовый курс.\nПричем язык рассматривается применительно к конкретной системе управления ба-\nзами данных (СУБД) — PostgreSQL. Реализация языка SQL в каждой СУБД соответ-\nствует стандарту в той или иной степени, но кроме стандартизированных функций\nи возможностей, каждая СУБД предлагает и свои дополнительные расширения язы-\nка. PostgreSQL обеспечивает очень хорошую поддержку стандарта языка SQL и также\nпредоставляет интересные и практически полезные дополнительные возможности.\nОдним из главных достоинств PostgreSQL является расширяемость. Это означает, на-\nпример, что пользователь (конечно, являющийся специалистом в области баз дан-\nных) может разработать свои собственные типы данных. Эти типы данных будут об-\nладать всеми свойствами встроенных типов данных и могут быть введены в работу\nбез останова сервера. Кроме того, PostgreSQL является свободно распространяемым\nпродуктом с открытым исходным кодом, который доступен на большом числе плат-\nформ.\nВ пособии рассматриваются не только все основные команды языка SQL, но также и\nдругие вопросы, такие как индексы и транзакции.\nКнига написана таким образом, чтобы ее можно было использовать как под руковод-\nством преподавателя, так и самостоятельно. Предполагается, что студенты имеют до-\nступ к уже установленной СУБД, поэтому процедура установки PostgreSQL детально\nне рассматривается, а лишь даются указания о том, где найти инструкции по уста-\nновке.\nЭто пособие предназначено для получения практических навыков использования\nязыка SQL. Учебный материал подается таким образом, что многие важные знания\n7'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 8}, page_content='Введение\nчитатель должен получить в результате выполнения заданий, находящихся в кон-\nце каждой главы. В основном тексте глав эти знания могут быть не представлены.\nПредполагается, что значительная часть заданий будет выполняться читателем са-\nмостоятельно с помощью документации на СУБД PostgreSQL, но зачастую даются и\nуказания к их выполнению. Задания, приведенные в пособии, различаются по уров-\nню сложности. Самые сложные из них, а также те, которые требуют много времени\nдля выполнения, отмечены звездочкой.\nЗадания можно выполнять по мере изучения учебного материала конкретной главы.\nОднако некоторые из них имеют комплексный характер, поэтому для их выполнения\nнеобходимо изучить всю главу или, как минимум, несколько ее разделов.\nХотя пособие имеет практическую направленность и не является теоретическим кур-\nсом, все же в первой главе кратко, на элементарном уровне излагаются основные по-\nнятия теории баз данных и реляционной модели. Это сделано для того, чтобы студен-\nты могли приступить к практическому освоению языка SQL без задержки, с первых\nдней учебного семестра, еще до того момента, когда эти понятия будут основательно\nрассмотрены в лекционном курсе.\nНа факультетах информационных технологий в российских вузах базы данных тра-\nдиционно изучаются на втором или третьем курсе. Причем этой дисциплине, как\nправило, отводится один семестр. Однако количество академических учебных часов\nможет различаться. Если на практические занятия по этой дисциплине учебный план\nотводит 36 часов, тогда мы рекомендуем следующее распределение времени на изу-\nчение материала пособия.\nГлава 1. Введение в базы данных и SQL 1 час\nГлава 2. Создание рабочей среды 1 час\nГлава 3. Основные операции с таблицами 4 часа\nГлава 4. Типы данных СУБД PostgreSQL 4 часа\nГлава 5. Основы языка определения данных 4 часа\nГлава 6. Запросы 8 часов\nГлава 7. Изменение данных 4 часа\nГлава 8. Индексы 2 часа\nГлава 9. Транзакции 4 часа\nГлава 10. Повышение производительности 4 часа\nГлавы 1 и 2 могут быть изучены за одно двухчасовое занятие, поскольку система\nPostgreSQL уже должна быть установлена в учебной аудитории заранее.\nГлава 3 представляет собой краткий обзор основных возможностей языка SQL, по-\nсле ее изучения студенты должны представлять себе простые способы использования\n8'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 9}, page_content='Введение\nвсех основных команд языка. Эта глава не очень сложная, но объемная, поэтому на\nее изучение отводится четыре часа.\nГлава 4 посвящена рассмотрению основных типов данных, используемых в СУБД\nPostgreSQL. Это большая глава, однако в ней значительную часть составляют задания\nи упражнения. Предполагается, что студенты за четыре часа должны усвоить только\nосновные приемы использования типов данных. А для того, чтобы знания закрепи-\nлись, рекомендуется обращаться к материалу этой главы (в том числе и к упражнени-\nям) в процессе изучения остальных глав пособия при необходимости уточнения тех\nили иных особенностей применения конкретных типов. Распределить время, выде-\nленное на изучение этой главы, мы рекомендуем следующим образом: два часа на\nпервые четыре раздела — числовые и строковые типы, типы «дата/время» и логиче-\nский тип, еще два часа — на массивы и тип json/jsonb.\nЧтобы выполнять запросы к базе данных, необходимо хорошо понимать ее структу-\nру, взаимосвязи таблиц. Поэтому глава 5, в которой рассматриваются основы языка\nопределения данных, очень важна с точки зрения детального изучения таблиц ба-\nзы данных «Авиаперевозки» и подготовки к освоению главы 6. Поскольку материал\nглавы основан на том, что база данных уже развернута на компьютере студента, то\nвводить команды для создания таблиц не требуется. Это позволяет сократить время,\nзатрачиваемое на изучение главы. В пособии принят подход, при котором сначала\nрассматриваются команды определения данных, а затем — команды манипулирова-\nния данными. Поэтому глава 5 «Основы языка определения данных» предшествует\nглаве 6 «Запросы». Однако избранный подход реализуется не слишком жестко: в об-\nзорной главе 3 рассматриваются основные команды, в том числе и несложные за-\nпросы. А запросы — это уже язык манипулирования данными. На изучение главы 5\nотведено четыре часа. В течение первого двухчасового занятия нужно изучить два\nпервых раздела, в которых освещаются такие вопросы, как ограничения целостно-\nсти и создание и удаление таблиц. Второе двухчасовое занятие нужно посвятить изу-\nчению трех оставшихся разделов. В них говорится о способах модификации таблиц,\nа также о представлениях (views) и схемах базы данных.\nГлава 6 является центральной главой пособия, поэтому на ее изучение отводится\nвосемь часов, т. е. больше, чем на изучение других глав. Она состоит из четырех\nразделов. Первый из них посвящен разнообразным дополнительным возможностям\nкоманды SELECT. Речь идет, в частности, о таких вещах, как предложения LIMIT\nи OFFSET, оператор LIKE и регулярные выражения в условиях предложения WHERE\nи о других возможностях. Тем не менее материал этого раздела несложный, для его\nизучения достаточно выделить один час. Во втором разделе рассказывается о спосо-\nбах соединения таблиц. Это более сложная тема, поэтому для ее изучения необходи-\nмо выделить два часа. Третий раздел посвящен агрегированию и группировке. В нем\n9'),

### Обработка данных от html и прочих символов

Обработка не доделана с ней надо подробне разбраться, смотреть как работает.
* у нас есть код, смотрите чтоб его не снесли

In [5]:
from bs4 import BeautifulSoup
import re
from langchain_core.documents import Document

# Функция для очистки текста
def clean_text(doc):
    soup = BeautifulSoup(doc, "html.parser")
    cleaned_text = soup.get_text()
    cleaned_text = re.sub(r'\n+', ' ', cleaned_text)  # Заменяем переносы строк на пробел
    cleaned_text = re.sub(r'©+', '', cleaned_text)  # Удаляем символ ©
    cleaned_text = re.sub(r'\s+', ' ', cleaned_text)  # Удаляем повторяющиеся пробелы
    cleaned_text = re.sub(r'(\.\s*){2,}', '. ', cleaned_text) # Удаляем повторяющиеся точки с пробелом
    cleaned_text = cleaned_text = re.sub(r'- ', '', cleaned_text) # Удаляем тире с пробелом
    
    return cleaned_text

# Обработка документов
cleaned_documents = []
for doc in docs:
    cleaned_content = clean_text(doc.page_content)
    cleaned_documents.append(Document(metadata=doc.metadata, page_content=cleaned_content))

In [6]:
cleaned_documents

[Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 0}, page_content=''),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 1}, page_content='Компания Postgres Professional Е. П. Моргунов PostgreSQL. Основы языка SQL Учебное пособие Санкт-Петербург «БХВ-Петербург» 2018'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 2}, page_content='УДК 004.655 ББК 32.973.26-018.2 М79 Моргунов, Е. П. М79 PostgreSQL. Основы языка SQL: учеб. пособие / Е. П. Моргунов; под ред. Е. В. Рогова, П. В. Лузанова. — СПб.: БХВ-Петербург, 2018. — 336 с.: ил. ISBN 978-5-9775-4022-3 Учебно-практическое пособие охватывает первую, базовую, часть учебного курса по языку SQL, созданного при участии российской компании Postgres Professional. Учебный материал излагается в расчете на использование системы управления базами данных PostgreSQL. Рассмотрено создание рабочей среды, описаны языки определения данных и основные операции выборки и изменения данных. Показаны примеры использования транзакций, уделено внимание методам оптимизации запросов. Материал сопровождается многочисленными практическими примерами. Пособие может использоваться как для самостоятельного обучения, так и при проведении занятий под руководством преподавателя. Для программистов и студентов УДК 004.655 ББК 32.973.26-018.2 Рецензент:Б. А. Новиков, д-р. физ.-мат. наук, профессор СПбГУ ISBN 978-5-9775-4022-3 ISBN 978-5-6041193-2-7 ООО «ППГ», 2018'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 3}, page_content='Оглавление Предисловие автора 5 Введение 7 Глава 1. Введение в базы данных и SQL 13 1.1. Что такое базы данных и зачем они нужны . 13 1.2. Основные понятия реляционной модели . 15 1.3. Что такое язык SQL . 18 1.4. Описание предметной области и учебной базы данных . 19 Контрольные вопросы и задания . 23 Глава 2. Создание рабочей среды 25 2.1. Установка СУБД . 25 2.2. Программа psql — интерактивный терминал PostgreSQL . 26 2.3. Развертывание учебной базы данных . 27 Контрольные вопросы и задания . 29 Глава 3. Основные операции с таблицами 31 Контрольные вопросы и задания . 48 Глава 4. Типы данных СУБД PostgreSQL 51 4.1. Числовые типы . 51 4.2. Символьные (строковые) типы . 54 4.3. Типы «дата/время» . 56 4.4. Логический тип . 63 4.5. Массивы . 64 4.6. Типы JSON . 68 Контрольные вопросы и задания . 73 Глава 5. Основы языка определения данных 95 5.1. Значения по умолчанию и ограничения целостности . 95 5.2. Создание и удаление таблиц . 105 5.3. Модификация таблиц . 117 5.4. Представления . 123 5.5. Схемы базы данных . 131 Контрольные вопросы и задания . 133 Глава 6. Запросы 145 6.1. Дополнительные возможности команды SELECT . 145 6.2. Соединения . 152 3'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 4}, page_content='Оглавление 6.3. Агрегирование и группировка . 168 6.4. Подзапросы . 176 Контрольные вопросы и задания . 192 Глава 7. Изменение данных 211 7.1. Вставка строк в таблицы . 211 7.2. Обновление строк в таблицах . 219 7.3. Удаление строк из таблиц . 224 Контрольные вопросы и задания . 226 Глава 8. Индексы 241 8.1. Общая информация . 241 8.2. Индексы по нескольким столбцам . 246 8.3. Уникальные индексы . 247 8.4. Индексы на основе выражений . 248 8.5. Частичные индексы . 248 Контрольные вопросы и задания . 250 Глава 9. Транзакции 255 9.1. Общая информация . 255 9.2. Уровень изоляции Read Uncommitted . 259 9.3. Уровень изоляции Read Committed . 261 9.4. Уровень изоляции Repeatable Read . 265 9.5. Уровень изоляции Serializable . 269 9.6. Пример использования транзакций . 275 9.7. Блокировки . 278 Контрольные вопросы и задания . 280 Глава 10. Повышение производительности 293 10.1. Основные понятия . 293 10.2. Методы просмотра таблиц . 296 10.3. Методы формирования соединений наборов строк . 302 10.4. Управление планировщиком . 305 10.5. Оптимизация запросов . 311 Контрольные вопросы и задания . 317 Рекомендуемые источники 328 Предметный указатель 329 4'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Предисловие автора С системой управления базами данных PostgreSQL мне довелось познакомиться в 1998 году, это была еще версия 6.2. Важную роль в моей встрече с PostgreSQL сыграл Вадим Михеев, который в те годы был одним из ключевых разработчиков этой СУБД. После перехода в 2000 году на преподавательскую работу в вуз мне потребовалась свободно распространяемая СУБД для использования в учебном процессе. На эту роль идеально подходила СУБД PostgreSQL. Книга, которую вы держите в руках, появилась по инициативе и при поддержке компании Postgres Professional — российского поставщика СУБД PostgreSQL. Летом 2016 года я встретился с директором компании Олегом Бартуновым. Он высказал идею о том, что для распространения СУБД PostgreSQL необходим учебник по языку SQL. PostgreSQL является самой продвинутой свободно распространяемой СУБД с очень хорошей поддержкой стандарта SQL. Тем не менее существуют и специфические черты, присущие именно PostgreSQL, поэтому такой учебник должен был отражать эту специфику. Поскольку я уже много лет использовал PostgreSQL в преподавании в вузе, то Олег Бартунов предложил мне заняться написанием такого учебника. Это предложение показалось мне очень интересным. Мы обсудили план будущего учебника с Павлом Лузановым и Егором Роговым, которые занимаются образовательными программами компании. Они согласились выступить в трудной и ответственной роли редакторов книги. Координировали работу над учебником и помогали на разных стадиях этого трудного процесса Олег Бартунов и заместитель директора компании Иван Панченко. Оригинальную обложку книги сделал Андрей Климковский, а Егор Рогов подготовил предметный указатель, благодаря которому книгой будет удобно пользоваться. Вообще, без поддержки компании Postgres Professional учебник в таком виде не смог бы состояться. Данный учебник рекомендуется использовать в комплексе с учебником по основам технологий баз данных, который написан профессором Санкт-Петербургского государственного университета Борисом Асеновичем Новиковым также при поддержке компании Postgres Professional. Важным является то, что в обоих учебниках для иллюстрации приемов применения языка SQL используется одна и та же учебная база данных «Авиаперевозки», разработанная Павлом Лузановым и Егором Роговым. Она содержит данные, по своим свойствам близкие к реальным. Это позволяет в качестве упражнений моделировать ситуации, которые могли бы иметь место в реальной работе специалиста по базам данных. 5'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 6}, page_content='Предисловие автора Знанием только языка SQL квалификация специалиста по базам данных не исчерпывается, поэтому на сайте компании Postgres Professional представлен целый ряд «фирменных» учебных курсов по PostgreSQL. Ссылка на них приведена в конце книги в разделе «Рекомендуемые источники». В планах автора и компании Postgres Professional — выпуск второй части учебника. Она будет посвящена более сложным вопросам использования языка SQL в среде СУБД PostgreSQL. Предполагается рассмотреть такие темы, как хранимые функции и процедуры, язык PL/pgSQL, триггеры, полнотекстовый поиск, расширяемость PostgreSQL. Е. П. Моргунов'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='Введение В настоящее время термин «база данных» известен многим людям, даже далеким от профессиональной разработки компьютерных программ. Базы данных стали очень широко распространенной технологией, что потребовало, в свою очередь, большего числа специалистов, способных проектировать их и обслуживать. В ходе эволюции теории и практики баз данных стандартом де-факто стала реляционная модель данных, а в рамках этой модели сформировался и специализированный язык программирования, позволяющий выполнять все необходимые операции с данными — Structured Query Language (SQL). Таким образом, важным компонентом квалификации специалиста в области баз данных является владение языком SQL. В настоящем учебном пособии излагаются основы языка SQL — это базовый курс. Причем язык рассматривается применительно к конкретной системе управления базами данных (СУБД) — PostgreSQL. Реализация языка SQL в каждой СУБД соответствует стандарту в той или иной степени, но кроме стандартизированных функций и возможностей, каждая СУБД предлагает и свои дополнительные расширения языка. PostgreSQL обеспечивает очень хорошую поддержку стандарта языка SQL и также предоставляет интересные и практически полезные дополнительные возможности. Одним из главных достоинств PostgreSQL является расширяемость. Это означает, например, что пользователь (конечно, являющийся специалистом в области баз данных) может разработать свои собственные типы данных. Эти типы данных будут обладать всеми свойствами встроенных типов данных и могут быть введены в работу без останова сервера. Кроме того, PostgreSQL является свободно распространяемым продуктом с открытым исходным кодом, который доступен на большом числе платформ. В пособии рассматриваются не только все основные команды языка SQL, но также и другие вопросы, такие как индексы и транзакции. Книга написана таким образом, чтобы ее можно было использовать как под руководством преподавателя, так и самостоятельно. Предполагается, что студенты имеют доступ к уже установленной СУБД, поэтому процедура установки PostgreSQL детально не рассматривается, а лишь даются указания о том, где найти инструкции по установке. Это пособие предназначено для получения практических навыков использования языка SQL. Учебный материал подается таким образом, что многие важные знания 7'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 8}, page_content='Введение читатель должен получить в результате выполнения заданий, находящихся в конце каждой главы. В основном тексте глав эти знания могут быть не представлены. Предполагается, что значительная часть заданий будет выполняться читателем самостоятельно с помощью документации на СУБД PostgreSQL, но зачастую даются и указания к их выполнению. Задания, приведенные в пособии, различаются по уровню сложности. Самые сложные из них, а также те, которые требуют много времени для выполнения, отмечены звездочкой. Задания можно выполнять по мере изучения учебного материала конкретной главы. Однако некоторые из них имеют комплексный характер, поэтому для их выполнения необходимо изучить всю главу или, как минимум, несколько ее разделов. Хотя пособие имеет практическую направленность и не является теоретическим курсом, все же в первой главе кратко, на элементарном уровне излагаются основные понятия теории баз данных и реляционной модели. Это сделано для того, чтобы студенты могли приступить к практическому освоению языка SQL без задержки, с первых дней учебного семестра, еще до того момента, когда эти понятия будут основательно рассмотрены в лекционном курсе. На факультетах информационных технологий в российских вузах базы данных традиционно изучаются на втором или третьем курсе. Причем этой дисциплине, как правило, отводится один семестр. Однако количество академических учебных часов может различаться. Если на практические занятия по этой дисциплине учебный план отводит 36 часов, тогда мы рекомендуем следующее распределение времени на изучение материала пособия. Глава 1. Введение в базы данных и SQL 1 час Глава 2. Создание рабочей среды 1 час Глава 3. Основные операции с таблицами 4 часа Глава 4. Типы данных СУБД PostgreSQL 4 часа Глава 5. Основы языка определения данных 4 часа Глава 6. Запросы 8 часов Глава 7. Изменение данных 4 часа Глава 8. Индексы 2 часа Глава 9. Транзакции 4 часа Глава 10. Повышение производительности 4 часа Главы 1 и 2 могут быть изучены за одно двухчасовое занятие, поскольку система PostgreSQL уже должна быть установлена в учебной аудитории заранее. Глава 3 представляет собой краткий обзор основных возможностей языка SQL, после ее изучения студенты должны представлять себе простые способы использования 8'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 9}, page_content='Введение всех основных команд языка. Эта глава не очень сложная, но объемная, поэтому на ее изучение отводится четыре часа. Глава 4 посвящена рассмотрению основных типов данных, используемых в СУБД PostgreSQL. Это большая глава, однако в ней значительную часть составляют задания и упражнения. Предполагается, что студенты за четыре часа должны усвоить только основные приемы использования типов данных. А для того, чтобы знания закрепились, рекомендуется обращаться к материалу этой главы (в том числе и к упражнениям) в процессе изучения остальных глав пособия при необходимости уточнения тех или иных особенностей применения конкретных типов. Распределить время, выделенное на изучение этой главы, мы рекомендуем следующим образом: два часа на первые четыре раздела — числовые и строковые типы, типы «дата/время» и логический тип, еще два часа — на массивы и тип json/jsonb. Чтобы выполнять запросы к базе данных, необходимо хорошо понимать ее структуру, взаимосвязи таблиц. Поэтому глава 5, в которой рассматриваются основы языка определения данных, очень важна с точки зрения детального изучения таблиц базы данных «Авиаперевозки» и подготовки к освоению главы 6. Поскольку материал главы основан на том, что база данных уже развернута на компьютере студента, то вводить команды для создания таблиц не требуется. Это позволяет сократить время, затрачиваемое на изучение главы. В пособии принят подход, при котором сначала рассматриваются команды определения данных, а затем — команды манипулирования данными. Поэтому глава 5 «Основы языка определения данных» предшествует главе 6 «Запросы». Однако избранный подход реализуется не слишком жестко: в обзорной главе 3 рассматриваются основные команды, в том числе и несложные запросы. А запросы — это уже язык манипулирования данными. На изучение главы 5 отведено четыре часа. В течение первого двухчасового занятия нужно изучить два первых раздела, в которых освещаются такие вопросы, как ограничения целостности и создание и удаление таблиц. Второе двухчасовое занятие нужно посвятить изучению трех оставшихся разделов. В них говорится о способах модификации таблиц, а также о представлениях (views) и схемах базы данных. Глава 6 является центральной главой пособия, поэтому на ее изучение отводится восемь часов, т. е. больше, чем на изучение других глав. Она состоит из четырех разделов. Первый из них посвящен разнообразным дополнительным возможностям команды SELECT. Речь идет, в частности, о таких вещах, как предложения LIMIT и OFFSET, оператор LIKE и регулярные выражения в условиях предложения WHERE и о других возможностях. Тем не менее материал этого раздела несложный, для его изучения достаточно выделить один час. Во втором разделе рассказывается о способах соединения таблиц. Это более сложная тема, поэтому для ее изучения необходимо выделить два часа. Третий раздел посвящен агрегированию и группировке. В нем 9'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 10}, page_content='Введение рассматривается и такая важная и интересная тема, как оконные функции. Данный раздел также требует двухчасового занятия. Самый сложный раздел этой главы — четвертый. Он посвящен подзапросам. В нем, в частности, освещается такая важная и интересная тема, как общие табличные выражения (Common Table Expressions — CTE). Для изучения материала данного раздела необходимо выделить три часа. В главе 7 собраны все команды, предназначенные для изменения данных: вставка строк, их обновление и удаление. Поскольку в предшествующих главах эти команды уже применялись для решения простых задач, то в данной главе рассматриваются более сложные способы их использования. В ней много упражнений, они составляют половину ее объема. Рекомендуется уделить два часа изучению способов вставки строк в таблицы, а еще два часа — рассмотрению операций обновления и удаления строк. Глава 8 посвящена индексам, она небольшая, поэтому с ней можно ознакомиться за одно двухчасовое занятие. Поскольку индексы тесно связаны с вопросами производительности, т. е. скорости выполнения запросов, то было бы целесообразно после изучения заключительной главы вернуться к главе 8 и посмотреть на представленные в ней команды и запросы, уже зная о команде EXPLAIN. Транзакциям посвящена глава 9. Механизмы их выполнения имеют много тонкостей, поэтому при изучении этой главы необходимо экспериментировать и стараться объяснить полученные результаты. В заключительной главе 10 рассматриваются вопросы повышения производительности. Эта глава может показаться слишком абстрактной и сложной для начального курса языка SQL, тем не менее она очень важна. Студенты должны научиться читать планы выполнения запросов и понимать назначение каждой операции, представленной в плане. А овладение искусством оптимизации запросов потребует много времени и опыта, оно придет не сразу. В том случае, когда на практические занятия по дисциплине «Базы данных» в учебном плане отводится 54 часа, можно изменить предлагаемое распределение учебных часов. В частности, в главе 4 можно больше времени посвятить типам данных json/jsonb и массивам. В главе 6 можно более детально рассмотреть оконные функции и общие табличные выражения. При изучении главы 9, посвященной транзакциям, было бы целесообразно разработать несложное приложение, в котором использовались бы транзакции, и провести эксперименты с этим приложением, выполняя параллельно несколько сеансов и изменяя при этом уровни изоляции транзакций. В рамках главы 10 имеет смысл вернуться к командам и запросам главы 8 и изучить 10'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 11}, page_content='Введение планы их выполнения с помощью команды EXPLAIN. За счет дополнительного времени можно рассмотреть все задания и упражнения повышенной сложности (помеченные звездочкой). Таким образом, распределение времени может быть таким: Глава 1. Введение в базы данных и SQL 1 час Глава 2. Создание рабочей среды 1 час Глава 3. Основные операции с таблицами 4 часа Глава 4. Типы данных СУБД PostgreSQL 6 часов Глава 5. Основы языка определения данных 6 часов Глава 6. Запросы 12 часов Глава 7. Изменение данных 6 часов Глава 8. Индексы 4 часа Глава 9. Транзакции 8 часов Глава 10. Повышение производительности 6 часов В пособии используются различные виды шрифтов для выделения фрагментов текста в зависимости от их назначения. Команды, вводимые пользователем как в среде операционной системы, так и в среде утилиты psql, выделяются полужирным моноширинным шрифтом. Например: psql -d demo -U postgres или SELECT avg( total_amount ) FROM bookings; Результаты работы команд операционной системы и SQL-команд, выполняемых в среде утилиты psql, напечатаны моноширинным шрифтом. Например, в ответ на команду EXPLAIN SELECT * FROM aircrafts; на экран будет выведено следующее: QUERY PLAN ---------------------------------------------------------Seq Scan on aircrafts (cost=0.00. 1.09 rows=9 width=52) (1 строка) Мы надеемся, что изучение материала, изложенного в учебном пособии, будет способствовать повышению уровня вашей квалификации и расширению профессионального кругозора. 11'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 12}, page_content=''),

### Перевод в формат для векторизации

Перевод в другой формат для векторизации.
Вообще скорее всего переводить было не обязательно, достаточно найти нормальный метод из предложенных разделения на чанки text_splitter  
https://python.langchain.com/v0.1/docs/modules/data_connection/document_transformers/

тут возникает проблема
1) если не переводить в формат Document то есть проблемы с чанками которую можно решить поменяв разделитель, читайте инф по ссылке
2) есили всё же переводить что я делаю, появляюся лишние символы, множество точек, из - за чего чанки становятся бессмысленными просмотрите
    * cleaned_content - плохо но прдобработаны
    * documents - получившийся из них с точками /н и подобной ересью 

нужно разобраться, как разбить на чанки не потеряв обработку данных на чистоту

### Разбиение на чанки

In [7]:
from langchain.text_splitter import CharacterTextSplitter

text_splitter = CharacterTextSplitter(
    separator=". ",
    chunk_size=300,
    chunk_overlap=50,
    length_function=len,
    is_separator_regex=False,
)

chunked_documents = []

# Разделение текста на чанки
for doc in cleaned_documents:
    if doc.page_content:  # Проверяем, что page_content не пустой
        chunks = text_splitter.split_text(doc.page_content)
        
        # Создаем новый Document для каждого чанка
        for chunk in chunks:
            chunked_doc = Document(
                metadata=doc.metadata,  # Сохраняем метаданные
                page_content=chunk      # Сохраняем чанк текста
            )
            chunked_documents.append(chunked_doc)

Created a chunk of size 305, which is longer than the specified 300
Created a chunk of size 321, which is longer than the specified 300
Created a chunk of size 365, which is longer than the specified 300
Created a chunk of size 493, which is longer than the specified 300
Created a chunk of size 308, which is longer than the specified 300
Created a chunk of size 318, which is longer than the specified 300
Created a chunk of size 590, which is longer than the specified 300
Created a chunk of size 321, which is longer than the specified 300
Created a chunk of size 350, which is longer than the specified 300
Created a chunk of size 400, which is longer than the specified 300
Created a chunk of size 385, which is longer than the specified 300
Created a chunk of size 349, which is longer than the specified 300
Created a chunk of size 429, which is longer than the specified 300
Created a chunk of size 484, which is longer than the specified 300
Created a chunk of size 524, which is longer than the specified 300
Created a chunk of size 330, which is longer than the specified 300
Created a chunk of size 337, which is longer than the specified 300
Created a chunk of size 348, which is longer than the specified 300
Created a chunk of size 447, which is longer than the specified 300
Created a chunk of size 782, which is longer than the specified 300
Created a chunk of size 545, which is longer than the specified 300
Created a chunk of size 362, which is longer than the specified 300
Created a chunk of size 340, which is longer than the specified 300
Created a chunk of size 436, which is longer than the specified 300
Created a chunk of size 301, which is longer than the specified 300
Created a chunk of size 395, which is longer than the specified 300
Created a chunk of size 392, which is longer than the specified 300
Created a chunk of size 322, which is longer than the specified 300
Created a chunk of size 309, which is longer than the specified 300
Created a chunk of size 432, which is longer than the specified 300
Created a chunk of size 473, which is longer than the specified 300
Created a chunk of size 343, which is longer than the specified 300
Created a chunk of size 320, which is longer than the specified 300
Created a chunk of size 371, which is longer than the specified 300
Created a chunk of size 301, which is longer than the specified 300
Created a chunk of size 315, which is longer than the specified 300
Created a chunk of size 525, which is longer than the specified 300
Created a chunk of size 647, which is longer than the specified 300
Created a chunk of size 411, which is longer than the specified 300
Created a chunk of size 408, which is longer than the specified 300
Created a chunk of size 711, which is longer than the specified 300
Created a chunk of size 354, which is longer than the specified 300
Created a chunk of size 302, which is longer than the specified 300
Created a chunk of size 313, which is longer than the specified 300
Created a chunk of size 433, which is longer than the specified 300
Created a chunk of size 304, which is longer than the specified 300
Created a chunk of size 325, which is longer than the specified 300
Created a chunk of size 317, which is longer than the specified 300
Created a chunk of size 385, which is longer than the specified 300
Created a chunk of size 318, which is longer than the specified 300
Created a chunk of size 414, which is longer than the specified 300
Created a chunk of size 362, which is longer than the specified 300
Created a chunk of size 331, which is longer than the specified 300
Created a chunk of size 607, which is longer than the specified 300
Created a chunk of size 606, which is longer than the specified 300
Created a chunk of size 1281, which is longer than the specified 300
Created a chunk of size 491, which is longer than the specified 300
Created a chunk of size 578, which is longer than the specified 300
Created a chunk of size 397, which is longer than the specified 300
Created a chunk of size 450, which is longer than the specified 300
Created a chunk of size 371, which is longer than the specified 300
Created a chunk of size 489, which is longer than the specified 300
Created a chunk of size 370, which is longer than the specified 300
Created a chunk of size 1270, which is longer than the specified 300
Created a chunk of size 560, which is longer than the specified 300
Created a chunk of size 309, which is longer than the specified 300
Created a chunk of size 311, which is longer than the specified 300
Created a chunk of size 435, which is longer than the specified 300
Created a chunk of size 592, which is longer than the specified 300
Created a chunk of size 601, which is longer than the specified 300
Created a chunk of size 344, which is longer than the specified 300
Created a chunk of size 491, which is longer than the specified 300
Created a chunk of size 386, which is longer than the specified 300
Created a chunk of size 346, which is longer than the specified 300
Created a chunk of size 360, which is longer than the specified 300
Created a chunk of size 456, which is longer than the specified 300
Created a chunk of size 328, which is longer than the specified 300
Created a chunk of size 510, which is longer than the specified 300
Created a chunk of size 441, which is longer than the specified 300
Created a chunk of size 341, which is longer than the specified 300
Created a chunk of size 425, which is longer than the specified 300
Created a chunk of size 315, which is longer than the specified 300
Created a chunk of size 595, which is longer than the specified 300
Created a chunk of size 803, which is longer than the specified 300
Created a chunk of size 345, which is longer than the specified 300
Created a chunk of size 1328, which is longer than the specified 300
Created a chunk of size 756, which is longer than the specified 300
Created a chunk of size 592, which is longer than the specified 300
Created a chunk of size 301, which is longer than the specified 300
Created a chunk of size 313, which is longer than the specified 300
Created a chunk of size 435, which is longer than the specified 300
Created a chunk of size 546, which is longer than the specified 300
Created a chunk of size 306, which is longer than the specified 300
Created a chunk of size 467, which is longer than the specified 300
Created a chunk of size 407, which is longer than the specified 300
Created a chunk of size 365, which is longer than the specified 300
Created a chunk of size 381, which is longer than the specified 300
Created a chunk of size 366, which is longer than the specified 300
Created a chunk of size 373, which is longer than the specified 300
Created a chunk of size 331, which is longer than the specified 300
Created a chunk of size 454, which is longer than the specified 300
Created a chunk of size 385, which is longer than the specified 300
Created a chunk of size 340, which is longer than the specified 300
Created a chunk of size 371, which is longer than the specified 300
Created a chunk of size 315, which is longer than the specified 300
Created a chunk of size 393, which is longer than the specified 300
Created a chunk of size 372, which is longer than the specified 300
Created a chunk of size 529, which is longer than the specified 300
Created a chunk of size 850, which is longer than the specified 300
Created a chunk of size 340, which is longer than the specified 300
Created a chunk of size 692, which is longer than the specified 300
Created a chunk of size 351, which is longer than the specified 300
Created a chunk of size 356, which is longer than the specified 300
Created a chunk of size 557, which is longer than the specified 300
Created a chunk of size 762, which is longer than the specified 300
Created a chunk of size 799, which is longer than the specified 300
Created a chunk of size 545, which is longer than the specified 300
Created a chunk of size 307, which is longer than the specified 300
Created a chunk of size 304, which is longer than the specified 300
Created a chunk of size 312, which is longer than the specified 300
Created a chunk of size 341, which is longer than the specified 300
Created a chunk of size 354, which is longer than the specified 300
Created a chunk of size 327, which is longer than the specified 300
Created a chunk of size 369, which is longer than the specified 300
Created a chunk of size 334, which is longer than the specified 300
Created a chunk of size 389, which is longer than the specified 300
Created a chunk of size 325, which is longer than the specified 300
Created a chunk of size 347, which is longer than the specified 300
Created a chunk of size 570, which is longer than the specified 300
Created a chunk of size 604, which is longer than the specified 300
Created a chunk of size 344, which is longer than the specified 300
Created a chunk of size 451, which is longer than the specified 300
Created a chunk of size 674, which is longer than the specified 300
Created a chunk of size 332, which is longer than the specified 300
Created a chunk of size 431, which is longer than the specified 300
Created a chunk of size 338, which is longer than the specified 300
Created a chunk of size 817, which is longer than the specified 300
Created a chunk of size 659, which is longer than the specified 300
Created a chunk of size 535, which is longer than the specified 300
Created a chunk of size 743, which is longer than the specified 300
Created a chunk of size 435, which is longer than the specified 300
Created a chunk of size 477, which is longer than the specified 300
Created a chunk of size 469, which is longer than the specified 300
Created a chunk of size 436, which is longer than the specified 300
Created a chunk of size 336, which is longer than the specified 300
Created a chunk of size 362, which is longer than the specified 300
Created a chunk of size 328, which is longer than the specified 300
Created a chunk of size 311, which is longer than the specified 300
Created a chunk of size 417, which is longer than the specified 300
Created a chunk of size 592, which is longer than the specified 300
Created a chunk of size 471, which is longer than the specified 300
Created a chunk of size 416, which is longer than the specified 300
Created a chunk of size 619, which is longer than the specified 300
Created a chunk of size 685, which is longer than the specified 300
Created a chunk of size 316, which is longer than the specified 300
Created a chunk of size 440, which is longer than the specified 300
Created a chunk of size 317, which is longer than the specified 300
Created a chunk of size 903, which is longer than the specified 300
Created a chunk of size 737, which is longer than the specified 300
Created a chunk of size 521, which is longer than the specified 300
Created a chunk of size 727, which is longer than the specified 300
Created a chunk of size 330, which is longer than the specified 300
Created a chunk of size 352, which is longer than the specified 300
Created a chunk of size 311, which is longer than the specified 300
Created a chunk of size 827, which is longer than the specified 300
Created a chunk of size 350, which is longer than the specified 300
Created a chunk of size 339, which is longer than the specified 300
Created a chunk of size 326, which is longer than the specified 300
Created a chunk of size 341, which is longer than the specified 300
Created a chunk of size 368, which is longer than the specified 300
Created a chunk of size 433, which is longer than the specified 300
Created a chunk of size 626, which is longer than the specified 300
Created a chunk of size 316, which is longer than the specified 300
Created a chunk of size 985, which is longer than the specified 300
Created a chunk of size 414, which is longer than the specified 300
Created a chunk of size 307, which is longer than the specified 300
Created a chunk of size 316, which is longer than the specified 300
Created a chunk of size 427, which is longer than the specified 300
Created a chunk of size 311, which is longer than the specified 300
Created a chunk of size 479, which is longer than the specified 300
Created a chunk of size 957, which is longer than the specified 300
Created a chunk of size 498, which is longer than the specified 300
Created a chunk of size 530, which is longer than the specified 300
Created a chunk of size 369, which is longer than the specified 300
Created a chunk of size 338, which is longer than the specified 300
Created a chunk of size 360, which is longer than the specified 300
Created a chunk of size 326, which is longer than the specified 300
Created a chunk of size 422, which is longer than the specified 300
Created a chunk of size 537, which is longer than the specified 300
Created a chunk of size 318, which is longer than the specified 300
Created a chunk of size 374, which is longer than the specified 300
Created a chunk of size 311, which is longer than the specified 300
Created a chunk of size 848, which is longer than the specified 300
Created a chunk of size 378, which is longer than the specified 300
Created a chunk of size 514, which is longer than the specified 300
Created a chunk of size 378, which is longer than the specified 300
Created a chunk of size 413, which is longer than the specified 300
Created a chunk of size 435, which is longer than the specified 300
Created a chunk of size 406, which is longer than the specified 300
Created a chunk of size 373, which is longer than the specified 300
Created a chunk of size 302, which is longer than the specified 300
Created a chunk of size 440, which is longer than the specified 300
Created a chunk of size 302, which is longer than the specified 300
Created a chunk of size 371, which is longer than the specified 300
Created a chunk of size 467, which is longer than the specified 300
Created a chunk of size 432, which is longer than the specified 300
Created a chunk of size 478, which is longer than the specified 300
Created a chunk of size 474, which is longer than the specified 300
Created a chunk of size 477, which is longer than the specified 300
Created a chunk of size 350, which is longer than the specified 300
Created a chunk of size 306, which is longer than the specified 300
Created a chunk of size 585, which is longer than the specified 300
Created a chunk of size 454, which is longer than the specified 300
Created a chunk of size 422, which is longer than the specified 300
Created a chunk of size 381, which is longer than the specified 300
Created a chunk of size 307, which is longer than the specified 300
Created a chunk of size 351, which is longer than the specified 300
Created a chunk of size 315, which is longer than the specified 300
Created a chunk of size 449, which is longer than the specified 300
Created a chunk of size 426, which is longer than the specified 300
Created a chunk of size 303, which is longer than the specified 300
Created a chunk of size 891, which is longer than the specified 300
Created a chunk of size 465, which is longer than the specified 300
Created a chunk of size 432, which is longer than the specified 300
Created a chunk of size 374, which is longer than the specified 300
Created a chunk of size 555, which is longer than the specified 300
Created a chunk of size 334, which is longer than the specified 300
Created a chunk of size 321, which is longer than the specified 300
Created a chunk of size 422, which is longer than the specified 300
Created a chunk of size 330, which is longer than the specified 300
Created a chunk of size 361, which is longer than the specified 300
Created a chunk of size 682, which is longer than the specified 300
Created a chunk of size 313, which is longer than the specified 300
Created a chunk of size 362, which is longer than the specified 300
Created a chunk of size 304, which is longer than the specified 300
Created a chunk of size 304, which is longer than the specified 300
Created a chunk of size 456, which is longer than the specified 300
Created a chunk of size 342, which is longer than the specified 300
Created a chunk of size 503, which is longer than the specified 300
Created a chunk of size 420, which is longer than the specified 300
Created a chunk of size 429, which is longer than the specified 300
Created a chunk of size 316, which is longer than the specified 300
Created a chunk of size 310, which is longer than the specified 300
Created a chunk of size 343, which is longer than the specified 300
Created a chunk of size 421, which is longer than the specified 300
Created a chunk of size 375, which is longer than the specified 300
Created a chunk of size 547, which is longer than the specified 300
Created a chunk of size 386, which is longer than the specified 300
Created a chunk of size 304, which is longer than the specified 300
Created a chunk of size 301, which is longer than the specified 300
Created a chunk of size 337, which is longer than the specified 300
Created a chunk of size 317, which is longer than the specified 300
Created a chunk of size 335, which is longer than the specified 300
Created a chunk of size 577, which is longer than the specified 300
Created a chunk of size 356, which is longer than the specified 300
Created a chunk of size 330, which is longer than the specified 300
Created a chunk of size 322, which is longer than the specified 300
Created a chunk of size 302, which is longer than the specified 300
Created a chunk of size 357, which is longer than the specified 300
Created a chunk of size 376, which is longer than the specified 300
Created a chunk of size 433, which is longer than the specified 300
Created a chunk of size 308, which is longer than the specified 300
Created a chunk of size 312, which is longer than the specified 300
Created a chunk of size 396, which is longer than the specified 300
Created a chunk of size 369, which is longer than the specified 300
Created a chunk of size 661, which is longer than the specified 300
Created a chunk of size 329, which is longer than the specified 300
Created a chunk of size 426, which is longer than the specified 300
Created a chunk of size 411, which is longer than the specified 300
Created a chunk of size 338, which is longer than the specified 300

In [8]:
chunked_documents

[Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 1}, page_content='Компания Postgres Professional Е. П. Моргунов PostgreSQL. Основы языка SQL Учебное пособие Санкт-Петербург «БХВ-Петербург» 2018'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 2}, page_content='УДК 004.655 ББК 32.973.26-018.2 М79 Моргунов, Е. П. М79 PostgreSQL. Основы языка SQL: учеб. пособие / Е. П. Моргунов; под ред. Е. В. Рогова, П. В. Лузанова. — СПб.: БХВ-Петербург, 2018. — 336 с.: ил'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 2}, page_content='— СПб.: БХВ-Петербург, 2018. — 336 с.: ил. ISBN 978-5-9775-4022-3 Учебно-практическое пособие охватывает первую, базовую, часть учебного курса по языку SQL, созданного при участии российской компании Postgres Professional'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 2}, page_content='Учебный материал излагается в расчете на использование системы управления базами данных PostgreSQL. Рассмотрено создание рабочей среды, описаны языки определения данных и основные операции выборки и изменения данных'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 2}, page_content='Показаны примеры использования транзакций, уделено внимание методам оптимизации запросов. Материал сопровождается многочисленными практическими примерами. Пособие может использоваться как для самостоятельного обучения, так и при проведении занятий под руководством преподавателя'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 2}, page_content='Для программистов и студентов УДК 004.655 ББК 32.973.26-018.2 Рецензент:Б. А. Новиков, д-р. физ.-мат. наук, профессор СПбГУ ISBN 978-5-9775-4022-3 ISBN 978-5-6041193-2-7 ООО «ППГ», 2018'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 3}, page_content='Оглавление Предисловие автора 5 Введение 7 Глава 1. Введение в базы данных и SQL 13 1.1. Что такое базы данных и зачем они нужны . 13 1.2. Основные понятия реляционной модели . 15 1.3. Что такое язык SQL . 18 1.4. Описание предметной области и учебной базы данных . 19 Контрольные вопросы и задания'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 3}, page_content='19 Контрольные вопросы и задания . 23 Глава 2. Создание рабочей среды 25 2.1. Установка СУБД . 25 2.2. Программа psql — интерактивный терминал PostgreSQL . 26 2.3. Развертывание учебной базы данных . 27 Контрольные вопросы и задания . 29 Глава 3'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 3}, page_content='27 Контрольные вопросы и задания . 29 Глава 3. Основные операции с таблицами 31 Контрольные вопросы и задания . 48 Глава 4. Типы данных СУБД PostgreSQL 51 4.1. Числовые типы . 51 4.2. Символьные (строковые) типы . 54 4.3. Типы «дата/время» . 56 4.4. Логический тип . 63 4.5. Массивы . 64 4.6'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 3}, page_content='56 4.4. Логический тип . 63 4.5. Массивы . 64 4.6. Типы JSON . 68 Контрольные вопросы и задания . 73 Глава 5. Основы языка определения данных 95 5.1. Значения по умолчанию и ограничения целостности . 95 5.2. Создание и удаление таблиц . 105 5.3. Модификация таблиц . 117 5.4. Представления . 123 5.5'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 3}, page_content='117 5.4. Представления . 123 5.5. Схемы базы данных . 131 Контрольные вопросы и задания . 133 Глава 6. Запросы 145 6.1. Дополнительные возможности команды SELECT . 145 6.2. Соединения . 152 3'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 4}, page_content='Оглавление 6.3. Агрегирование и группировка . 168 6.4. Подзапросы . 176 Контрольные вопросы и задания . 192 Глава 7. Изменение данных 211 7.1. Вставка строк в таблицы . 211 7.2. Обновление строк в таблицах . 219 7.3. Удаление строк из таблиц . 224 Контрольные вопросы и задания . 226 Глава 8'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 4}, page_content='224 Контрольные вопросы и задания . 226 Глава 8. Индексы 241 8.1. Общая информация . 241 8.2. Индексы по нескольким столбцам . 246 8.3. Уникальные индексы . 247 8.4. Индексы на основе выражений . 248 8.5. Частичные индексы . 248 Контрольные вопросы и задания . 250 Глава 9. Транзакции 255 9.1'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 4}, page_content='250 Глава 9. Транзакции 255 9.1. Общая информация . 255 9.2. Уровень изоляции Read Uncommitted . 259 9.3. Уровень изоляции Read Committed . 261 9.4. Уровень изоляции Repeatable Read . 265 9.5. Уровень изоляции Serializable . 269 9.6. Пример использования транзакций . 275 9.7. Блокировки'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 4}, page_content='275 9.7. Блокировки . 278 Контрольные вопросы и задания . 280 Глава 10. Повышение производительности 293 10.1. Основные понятия . 293 10.2. Методы просмотра таблиц . 296 10.3. Методы формирования соединений наборов строк . 302 10.4. Управление планировщиком . 305 10.5. Оптимизация запросов'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 4}, page_content='305 10.5. Оптимизация запросов . 311 Контрольные вопросы и задания . 317 Рекомендуемые источники 328 Предметный указатель 329 4'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Предисловие автора С системой управления базами данных PostgreSQL мне довелось познакомиться в 1998 году, это была еще версия 6.2. Важную роль в моей встрече с PostgreSQL сыграл Вадим Михеев, который в те годы был одним из ключевых разработчиков этой СУБД'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='После перехода в 2000 году на преподавательскую работу в вуз мне потребовалась свободно распространяемая СУБД для использования в учебном процессе. На эту роль идеально подходила СУБД PostgreSQL'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='На эту роль идеально подходила СУБД PostgreSQL. Книга, которую вы держите в руках, появилась по инициативе и при поддержке компании Postgres Professional — российского поставщика СУБД PostgreSQL. Летом 2016 года я встретился с директором компании Олегом Бартуновым'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Он высказал идею о том, что для распространения СУБД PostgreSQL необходим учебник по языку SQL. PostgreSQL является самой продвинутой свободно распространяемой СУБД с очень хорошей поддержкой стандарта SQL'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Тем не менее существуют и специфические черты, присущие именно PostgreSQL, поэтому такой учебник должен был отражать эту специфику. Поскольку я уже много лет использовал PostgreSQL в преподавании в вузе, то Олег Бартунов предложил мне заняться написанием такого учебника'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Это предложение показалось мне очень интересным. Мы обсудили план будущего учебника с Павлом Лузановым и Егором Роговым, которые занимаются образовательными программами компании. Они согласились выступить в трудной и ответственной роли редакторов книги'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Координировали работу над учебником и помогали на разных стадиях этого трудного процесса Олег Бартунов и заместитель директора компании Иван Панченко'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Оригинальную обложку книги сделал Андрей Климковский, а Егор Рогов подготовил предметный указатель, благодаря которому книгой будет удобно пользоваться. Вообще, без поддержки компании Postgres Professional учебник в таком виде не смог бы состояться'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Данный учебник рекомендуется использовать в комплексе с учебником по основам технологий баз данных, который написан профессором Санкт-Петербургского государственного университета Борисом Асеновичем Новиковым также при поддержке компании Postgres Professional'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Важным является то, что в обоих учебниках для иллюстрации приемов применения языка SQL используется одна и та же учебная база данных «Авиаперевозки», разработанная Павлом Лузановым и Егором Роговым. Она содержит данные, по своим свойствам близкие к реальным'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Это позволяет в качестве упражнений моделировать ситуации, которые могли бы иметь место в реальной работе специалиста по базам данных. 5'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 6}, page_content='Предисловие автора Знанием только языка SQL квалификация специалиста по базам данных не исчерпывается, поэтому на сайте компании Postgres Professional представлен целый ряд «фирменных» учебных курсов по PostgreSQL. Ссылка на них приведена в конце книги в разделе «Рекомендуемые источники»'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 6}, page_content='В планах автора и компании Postgres Professional — выпуск второй части учебника. Она будет посвящена более сложным вопросам использования языка SQL в среде СУБД PostgreSQL'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 6}, page_content='Предполагается рассмотреть такие темы, как хранимые функции и процедуры, язык PL/pgSQL, триггеры, полнотекстовый поиск, расширяемость PostgreSQL. Е. П. Моргунов'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='Введение В настоящее время термин «база данных» известен многим людям, даже далеким от профессиональной разработки компьютерных программ'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='Базы данных стали очень широко распространенной технологией, что потребовало, в свою очередь, большего числа специалистов, способных проектировать их и обслуживать'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='В ходе эволюции теории и практики баз данных стандартом де-факто стала реляционная модель данных, а в рамках этой модели сформировался и специализированный язык программирования, позволяющий выполнять все необходимые операции с данными — Structured Query Language (SQL)'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='Таким образом, важным компонентом квалификации специалиста в области баз данных является владение языком SQL. В настоящем учебном пособии излагаются основы языка SQL — это базовый курс. Причем язык рассматривается применительно к конкретной системе управления базами данных (СУБД) — PostgreSQL'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='Реализация языка SQL в каждой СУБД соответствует стандарту в той или иной степени, но кроме стандартизированных функций и возможностей, каждая СУБД предлагает и свои дополнительные расширения языка'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='PostgreSQL обеспечивает очень хорошую поддержку стандарта языка SQL и также предоставляет интересные и практически полезные дополнительные возможности. Одним из главных достоинств PostgreSQL является расширяемость'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='Это означает, например, что пользователь (конечно, являющийся специалистом в области баз данных) может разработать свои собственные типы данных. Эти типы данных будут обладать всеми свойствами встроенных типов данных и могут быть введены в работу без останова сервера'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='Кроме того, PostgreSQL является свободно распространяемым продуктом с открытым исходным кодом, который доступен на большом числе платформ. В пособии рассматриваются не только все основные команды языка SQL, но также и другие вопросы, такие как индексы и транзакции'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='Книга написана таким образом, чтобы ее можно было использовать как под руководством преподавателя, так и самостоятельно'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='Предполагается, что студенты имеют доступ к уже установленной СУБД, поэтому процедура установки PostgreSQL детально не рассматривается, а лишь даются указания о том, где найти инструкции по установке. Это пособие предназначено для получения практических навыков использования языка SQL'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='Учебный материал подается таким образом, что многие важные знания 7'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 8}, page_content='Введение читатель должен получить в результате выполнения заданий, находящихся в конце каждой главы. В основном тексте глав эти знания могут быть не представлены'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 8}, page_content='Предполагается, что значительная часть заданий будет выполняться читателем самостоятельно с помощью документации на СУБД PostgreSQL, но зачастую даются и указания к их выполнению. Задания, приведенные в пособии, различаются по уровню сложности'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 8}, page_content='Самые сложные из них, а также те, которые требуют много времени для выполнения, отмечены звездочкой. Задания можно выполнять по мере изучения учебного материала конкретной главы'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 8}, page_content='Однако некоторые из них имеют комплексный характер, поэтому для их выполнения необходимо изучить всю главу или, как минимум, несколько ее разделов'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 8}, page_content='Хотя пособие имеет практическую направленность и не является теоретическим курсом, все же в первой главе кратко, на элементарном уровне излагаются основные понятия теории баз данных и реляционной модели'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 8}, page_content='Это сделано для того, чтобы студенты могли приступить к практическому освоению языка SQL без задержки, с первых дней учебного семестра, еще до того момента, когда эти понятия будут основательно рассмотрены в лекционном курсе'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 8}, page_content='На факультетах информационных технологий в российских вузах базы данных традиционно изучаются на втором или третьем курсе. Причем этой дисциплине, как правило, отводится один семестр. Однако количество академических учебных часов может различаться'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 8}, page_content='Если на практические занятия по этой дисциплине учебный план отводит 36 часов, тогда мы рекомендуем следующее распределение времени на изучение материала пособия. Глава 1. Введение в базы данных и SQL 1 час Глава 2. Создание рабочей среды 1 час Глава 3. Основные операции с таблицами 4 часа Глава 4'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 8}, page_content='Основные операции с таблицами 4 часа Глава 4. Типы данных СУБД PostgreSQL 4 часа Глава 5. Основы языка определения данных 4 часа Глава 6. Запросы 8 часов Глава 7. Изменение данных 4 часа Глава 8. Индексы 2 часа Глава 9. Транзакции 4 часа Глава 10'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 8}, page_content='Индексы 2 часа Глава 9. Транзакции 4 часа Глава 10. Повышение производительности 4 часа Главы 1 и 2 могут быть изучены за одно двухчасовое занятие, поскольку система PostgreSQL уже должна быть установлена в учебной аудитории заранее'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 8}, page_content='Глава 3 представляет собой краткий обзор основных возможностей языка SQL, после ее изучения студенты должны представлять себе простые способы использования 8'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 9}, page_content='Введение всех основных команд языка. Эта глава не очень сложная, но объемная, поэтому на ее изучение отводится четыре часа. Глава 4 посвящена рассмотрению основных типов данных, используемых в СУБД PostgreSQL. Это большая глава, однако в ней значительную часть составляют задания и упражнения'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 9}, page_content='Предполагается, что студенты за четыре часа должны усвоить только основные приемы использования типов данных'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 9}, page_content='А для того, чтобы знания закрепились, рекомендуется обращаться к материалу этой главы (в том числе и к упражнениям) в процессе изучения остальных глав пособия при необходимости уточнения тех или иных особенностей применения конкретных типов'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 9}, page_content='Распределить время, выделенное на изучение этой главы, мы рекомендуем следующим образом: два часа на первые четыре раздела — числовые и строковые типы, типы «дата/время» и логический тип, еще два часа — на массивы и тип json/jsonb'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 9}, page_content='Чтобы выполнять запросы к базе данных, необходимо хорошо понимать ее структуру, взаимосвязи таблиц. Поэтому глава 5, в которой рассматриваются основы языка определения данных, очень важна с точки зрения детального изучения таблиц базы данных «Авиаперевозки» и подготовки к освоению главы 6'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 9}, page_content='Поскольку материал главы основан на том, что база данных уже развернута на компьютере студента, то вводить команды для создания таблиц не требуется. Это позволяет сократить время, затрачиваемое на изучение главы'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 9}, page_content='В пособии принят подход, при котором сначала рассматриваются команды определения данных, а затем — команды манипулирования данными. Поэтому глава 5 «Основы языка определения данных» предшествует главе 6 «Запросы»'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 9}, page_content='Однако избранный подход реализуется не слишком жестко: в обзорной главе 3 рассматриваются основные команды, в том числе и несложные запросы. А запросы — это уже язык манипулирования данными. На изучение главы 5 отведено четыре часа'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 9}, page_content='На изучение главы 5 отведено четыре часа. В течение первого двухчасового занятия нужно изучить два первых раздела, в которых освещаются такие вопросы, как ограничения целостности и создание и удаление таблиц. Второе двухчасовое занятие нужно посвятить изучению трех оставшихся разделов'),

нужно поэксперементировать с данными и просмотреть чанки, на данный момент они несут практически 0 смысл

### Векторизация

требует больших мощностей, нужно запускать с мощьного пк, посмотреть возможность работы на видюхе, поспрашивайте гпт

In [9]:
# создаём путь до места хранения
from pathlib import Path

# Получаем текущий рабочий каталог
current_dir = Path.cwd()

# Создаем путь к папке processed_data, которая находится на уровне выше текущего каталога
processed_data_path = current_dir.parent / 'data' / 'processed_data' / 'union.parquet'

In [13]:
from langchain_community.vectorstores import SKLearnVectorStore
from langchain_ollama import OllamaEmbeddings

# Create embeddings for documents and store them in a vector store
vectorstore = SKLearnVectorStore.from_documents(
    documents=chunked_documents[:40],
    embedding = OllamaEmbeddings(model="llama3.1"),
    persist_path= processed_data_path,  # for save
    serializer="parquet" # for save
)

### Сохранение

In [14]:
# save
vectorstore.persist()

In [15]:
chunked_documents[:40]

[Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 1}, page_content='Компания Postgres Professional Е. П. Моргунов PostgreSQL. Основы языка SQL Учебное пособие Санкт-Петербург «БХВ-Петербург» 2018'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 2}, page_content='УДК 004.655 ББК 32.973.26-018.2 М79 Моргунов, Е. П. М79 PostgreSQL. Основы языка SQL: учеб. пособие / Е. П. Моргунов; под ред. Е. В. Рогова, П. В. Лузанова. — СПб.: БХВ-Петербург, 2018. — 336 с.: ил'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 2}, page_content='— СПб.: БХВ-Петербург, 2018. — 336 с.: ил. ISBN 978-5-9775-4022-3 Учебно-практическое пособие охватывает первую, базовую, часть учебного курса по языку SQL, созданного при участии российской компании Postgres Professional'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 2}, page_content='Учебный материал излагается в расчете на использование системы управления базами данных PostgreSQL. Рассмотрено создание рабочей среды, описаны языки определения данных и основные операции выборки и изменения данных'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 2}, page_content='Показаны примеры использования транзакций, уделено внимание методам оптимизации запросов. Материал сопровождается многочисленными практическими примерами. Пособие может использоваться как для самостоятельного обучения, так и при проведении занятий под руководством преподавателя'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 2}, page_content='Для программистов и студентов УДК 004.655 ББК 32.973.26-018.2 Рецензент:Б. А. Новиков, д-р. физ.-мат. наук, профессор СПбГУ ISBN 978-5-9775-4022-3 ISBN 978-5-6041193-2-7 ООО «ППГ», 2018'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 3}, page_content='Оглавление Предисловие автора 5 Введение 7 Глава 1. Введение в базы данных и SQL 13 1.1. Что такое базы данных и зачем они нужны . 13 1.2. Основные понятия реляционной модели . 15 1.3. Что такое язык SQL . 18 1.4. Описание предметной области и учебной базы данных . 19 Контрольные вопросы и задания'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 3}, page_content='19 Контрольные вопросы и задания . 23 Глава 2. Создание рабочей среды 25 2.1. Установка СУБД . 25 2.2. Программа psql — интерактивный терминал PostgreSQL . 26 2.3. Развертывание учебной базы данных . 27 Контрольные вопросы и задания . 29 Глава 3'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 3}, page_content='27 Контрольные вопросы и задания . 29 Глава 3. Основные операции с таблицами 31 Контрольные вопросы и задания . 48 Глава 4. Типы данных СУБД PostgreSQL 51 4.1. Числовые типы . 51 4.2. Символьные (строковые) типы . 54 4.3. Типы «дата/время» . 56 4.4. Логический тип . 63 4.5. Массивы . 64 4.6'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 3}, page_content='56 4.4. Логический тип . 63 4.5. Массивы . 64 4.6. Типы JSON . 68 Контрольные вопросы и задания . 73 Глава 5. Основы языка определения данных 95 5.1. Значения по умолчанию и ограничения целостности . 95 5.2. Создание и удаление таблиц . 105 5.3. Модификация таблиц . 117 5.4. Представления . 123 5.5'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 3}, page_content='117 5.4. Представления . 123 5.5. Схемы базы данных . 131 Контрольные вопросы и задания . 133 Глава 6. Запросы 145 6.1. Дополнительные возможности команды SELECT . 145 6.2. Соединения . 152 3'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 4}, page_content='Оглавление 6.3. Агрегирование и группировка . 168 6.4. Подзапросы . 176 Контрольные вопросы и задания . 192 Глава 7. Изменение данных 211 7.1. Вставка строк в таблицы . 211 7.2. Обновление строк в таблицах . 219 7.3. Удаление строк из таблиц . 224 Контрольные вопросы и задания . 226 Глава 8'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 4}, page_content='224 Контрольные вопросы и задания . 226 Глава 8. Индексы 241 8.1. Общая информация . 241 8.2. Индексы по нескольким столбцам . 246 8.3. Уникальные индексы . 247 8.4. Индексы на основе выражений . 248 8.5. Частичные индексы . 248 Контрольные вопросы и задания . 250 Глава 9. Транзакции 255 9.1'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 4}, page_content='250 Глава 9. Транзакции 255 9.1. Общая информация . 255 9.2. Уровень изоляции Read Uncommitted . 259 9.3. Уровень изоляции Read Committed . 261 9.4. Уровень изоляции Repeatable Read . 265 9.5. Уровень изоляции Serializable . 269 9.6. Пример использования транзакций . 275 9.7. Блокировки'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 4}, page_content='275 9.7. Блокировки . 278 Контрольные вопросы и задания . 280 Глава 10. Повышение производительности 293 10.1. Основные понятия . 293 10.2. Методы просмотра таблиц . 296 10.3. Методы формирования соединений наборов строк . 302 10.4. Управление планировщиком . 305 10.5. Оптимизация запросов'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 4}, page_content='305 10.5. Оптимизация запросов . 311 Контрольные вопросы и задания . 317 Рекомендуемые источники 328 Предметный указатель 329 4'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Предисловие автора С системой управления базами данных PostgreSQL мне довелось познакомиться в 1998 году, это была еще версия 6.2. Важную роль в моей встрече с PostgreSQL сыграл Вадим Михеев, который в те годы был одним из ключевых разработчиков этой СУБД'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='После перехода в 2000 году на преподавательскую работу в вуз мне потребовалась свободно распространяемая СУБД для использования в учебном процессе. На эту роль идеально подходила СУБД PostgreSQL'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='На эту роль идеально подходила СУБД PostgreSQL. Книга, которую вы держите в руках, появилась по инициативе и при поддержке компании Postgres Professional — российского поставщика СУБД PostgreSQL. Летом 2016 года я встретился с директором компании Олегом Бартуновым'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Он высказал идею о том, что для распространения СУБД PostgreSQL необходим учебник по языку SQL. PostgreSQL является самой продвинутой свободно распространяемой СУБД с очень хорошей поддержкой стандарта SQL'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Тем не менее существуют и специфические черты, присущие именно PostgreSQL, поэтому такой учебник должен был отражать эту специфику. Поскольку я уже много лет использовал PostgreSQL в преподавании в вузе, то Олег Бартунов предложил мне заняться написанием такого учебника'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Это предложение показалось мне очень интересным. Мы обсудили план будущего учебника с Павлом Лузановым и Егором Роговым, которые занимаются образовательными программами компании. Они согласились выступить в трудной и ответственной роли редакторов книги'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Координировали работу над учебником и помогали на разных стадиях этого трудного процесса Олег Бартунов и заместитель директора компании Иван Панченко'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Оригинальную обложку книги сделал Андрей Климковский, а Егор Рогов подготовил предметный указатель, благодаря которому книгой будет удобно пользоваться. Вообще, без поддержки компании Postgres Professional учебник в таком виде не смог бы состояться'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Данный учебник рекомендуется использовать в комплексе с учебником по основам технологий баз данных, который написан профессором Санкт-Петербургского государственного университета Борисом Асеновичем Новиковым также при поддержке компании Postgres Professional'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Важным является то, что в обоих учебниках для иллюстрации приемов применения языка SQL используется одна и та же учебная база данных «Авиаперевозки», разработанная Павлом Лузановым и Егором Роговым. Она содержит данные, по своим свойствам близкие к реальным'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 5}, page_content='Это позволяет в качестве упражнений моделировать ситуации, которые могли бы иметь место в реальной работе специалиста по базам данных. 5'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 6}, page_content='Предисловие автора Знанием только языка SQL квалификация специалиста по базам данных не исчерпывается, поэтому на сайте компании Postgres Professional представлен целый ряд «фирменных» учебных курсов по PostgreSQL. Ссылка на них приведена в конце книги в разделе «Рекомендуемые источники»'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 6}, page_content='В планах автора и компании Postgres Professional — выпуск второй части учебника. Она будет посвящена более сложным вопросам использования языка SQL в среде СУБД PostgreSQL'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 6}, page_content='Предполагается рассмотреть такие темы, как хранимые функции и процедуры, язык PL/pgSQL, триггеры, полнотекстовый поиск, расширяемость PostgreSQL. Е. П. Моргунов'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='Введение В настоящее время термин «база данных» известен многим людям, даже далеким от профессиональной разработки компьютерных программ'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='Базы данных стали очень широко распространенной технологией, что потребовало, в свою очередь, большего числа специалистов, способных проектировать их и обслуживать'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='В ходе эволюции теории и практики баз данных стандартом де-факто стала реляционная модель данных, а в рамках этой модели сформировался и специализированный язык программирования, позволяющий выполнять все необходимые операции с данными — Structured Query Language (SQL)'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='Таким образом, важным компонентом квалификации специалиста в области баз данных является владение языком SQL. В настоящем учебном пособии излагаются основы языка SQL — это базовый курс. Причем язык рассматривается применительно к конкретной системе управления базами данных (СУБД) — PostgreSQL'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='Реализация языка SQL в каждой СУБД соответствует стандарту в той или иной степени, но кроме стандартизированных функций и возможностей, каждая СУБД предлагает и свои дополнительные расширения языка'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='PostgreSQL обеспечивает очень хорошую поддержку стандарта языка SQL и также предоставляет интересные и практически полезные дополнительные возможности. Одним из главных достоинств PostgreSQL является расширяемость'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='Это означает, например, что пользователь (конечно, являющийся специалистом в области баз данных) может разработать свои собственные типы данных. Эти типы данных будут обладать всеми свойствами встроенных типов данных и могут быть введены в работу без останова сервера'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='Кроме того, PostgreSQL является свободно распространяемым продуктом с открытым исходным кодом, который доступен на большом числе платформ. В пособии рассматриваются не только все основные команды языка SQL, но также и другие вопросы, такие как индексы и транзакции'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='Книга написана таким образом, чтобы ее можно было использовать как под руководством преподавателя, так и самостоятельно'),
 Document(metadata={'source': '../data/standard_data/sql_primer.pdf', 'page': 7}, page_content='Предполагается, что студенты имеют доступ к уже установленной СУБД, поэтому процедура установки PostgreSQL детально не рассматривается, а лишь даются указания о том, где найти инструкции по установке. Это пособие предназначено для получения практических навыков использования языка SQL')]